$color7: #FBFDFF;

.AuthTemplate {
	position: relative;
	padding: 0px 20px 0px 20px;
	width: 100%;
	height: 100%;

	.verticalSplit {
		min-height: calc(100vh - 60px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.container {
			flex: 1;
			position: relative;
			width: 100%;
			max-height: 60vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.infoMsg {
				p {
					color: $color7;
					text-align: center;

					&.mainTitle {
						font-size: 18px;
					}

					&.subTitle {
						font-size: 12px;
						margin-bottom: 40px;
					}
				}

			}

			.inputArea {
				width: 100%;
				display: flex;
				justify-content: center;

				.bubble {
					float: left;
					border-radius: 50%;
					margin: 0 3px;
					width: 30px;
					height: 30px;
					background: #FBFDFF;
					box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
					text-align: center;
					display: table;

					p {
						display: table-cell;
						vertical-align: middle;
						color: #34C7B0;
						font-size: 16px;
					}
				}
			}

			.inputInfoMsg {
				margin-top: 10px;

				.horizontalCenter {
					display: flex;
					justify-content: center;
					margin-bottom: 5px;
				}

				p {
					font-size: 12px;
					text-align: center;
					float: left;
					color: #fff;
					margin-right: 3px;

					&.back {
						padding: 0px 3px;
						color: #34C4C2;
						background: #fff;
					}

					&::after {
						clear: both;
					}

					&.time {

						line-height: 35px;
						font-size: 16px;
						font-weight: bolder;
						margin-right: 15px;
						color: white;


					}
				}
			}
		}

		.buttonArea {
			position: relative;
			width: 100%;
			padding-bottom: 30px;

			.Button {
				width: 100%;
			}

			.keyPad {
				width: 100%;

				.deleteKey {

					&:active {
						box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
						background: #fff;
						color: #34C7B0;
						border-radius: 50%;
					}
				}

				&>* {
					position: relative;
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;
					float: left;
					width: 33.333%;
					margin-bottom: 5vh;

					&.bottomElem {
						margin-bottom: 0px;
					}
				}


			}
		}
	}


}