$white: #FBFDFF;

.VotingSingle {
	display:flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	.NavBar {
		overflow: hidden;
		width: 100%;
		height: 60px;

		.voteTitle {
			width: 70%;
			line-height: 55px;
			height: 100%;
			overflow: hidden;
			margin: 0 auto;

			p {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-align: center;
				color: $white;
				font-size: 18px;
			}
		}


		.I_LEFT_ARROW {
			position: absolute;
			top: 20px;
			left: 20px;
			border: solid #fff;
			border-width: 0px 0px 3px 3px;
			transform: rotate(45deg);
			width: 15px;
			height: 15px;
			cursor: pointer;

			&::after {
				content: '';
				position: absolute;
				top: 1px;
				left: -5px;
				border: solid #fff;
				border-width: 3px 0px 0px 0px;

				transform: rotate(-45deg);
				width: 30px;

			}
		}

    }
    
    .content {
		height: 100%;
		padding: 20px 20px 0px 20px;

		.Candidate {
            padding-bottom: 30px;

			.number {
				color: $white;
				font-weight: 500;
				font-size: 16px;
				margin-bottom: 5px;
			}

			.card {
				display: flex;
				position: relative;
				background: $white;
				box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
				border-radius: 15px;
				padding: 10px;


				.horizontalList {
					width: 100%;
					& > * {
						float: left;
						width: 33.3333%;
					}
				}
				.voteArea {
					display: flex;
					flex-direction: column;
					height: 100%;

					.center {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 100%;


						img {
							width: 50px;
							height: 50px;
						}

						p {
							margin-top: 5px;
							color: #ABB2B0;
							font-size: 13px;
						}
					}
					
				}
				.profile {
					overflow: hidden;
					position: relative;
					float: left;
					padding: 0px 15px;

					.imageWapper {
						height: 100px;
					}

					img {
						width: 100%;
					}

					p {
						text-align: center;
						
						&.name {
							color: #2D3830;
						}

						&.role {
							color: #ABB2B0;
						}
					}
				}
			}
		}

		
    }
    
    .voteSelect {
        padding-top: 10px;
        .card {
            display: flex;
            position: relative;
            background: $white;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 15px;
            padding: 10px;
            height: 80px;

            p{
                padding: 15px;
                font-size: 18px;
                color : #2D3830;
            }

            img {
                position: absolute;
                width: 60px;
                height: 60px;
                padding: 2px;
                right: 5%;
            }
        }
    }

	
	.bottomArea {
		overflow: hidden;
		padding: 0px 20px 20px 20px;

		.split {
			& > * {
				float: left;
				width: 50%;
				&:nth-child(1) {
					padding-right: 5px;
				}
	
				&:nth-child(2) {
					padding-left: 5px;
				}
			}

			
		}

	}

}