$white: #FBFDFF;

.VotingResult {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	height: 100%;


	.content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.statistics {
			width: 100%;
			overflow: hidden;

			.chartWrap {
				float: left;
				width: 25%;
				height: 130px;
				padding: 5px;
			}
		}

		.article {
			width: 100%;
			margin-bottom: 20px;

			.info {
				color: $white;
				font-weight: 500;
				font-size: 18px;
				text-align: left;
				padding-left: 15px;
				margin-bottom: 20px;
			}

			.card {
				overflow: hidden;
				background: $white;
				box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
				border-radius: 15px;
				padding: 15px 10px;

				.graph {
					display: flex;
					flex-direction: row;
					height: 35px;


					.term {
						padding-left: 10px;
						line-height: 35px;
						flex: 1;
					}

					.StickChart {
						flex: 4;
						overflow: hidden;
					}

					&>* {
						float: left;
					}

					clear: both;
				}


				.horizontalList {
					width: 100%;

					&>* {
						float: left;
						width: 33.3333%;
					}
				}


				p {
					text-align: left;
					font-size: 14px;

					&.term {
						color: #646464;

						&.red {
							color: #FF6464;
						}
					}

					&.role {
						color: #ABB2B0;
					}
				}


				.profile {
					overflow: hidden;
					position: relative;
					float: left;
					padding: 0px 15px;

					.imageWapper {
						height: 100px;
					}

					img {
						width: 80px;
						height: 90px;
					}

					p {
						text-align: center;

						&.name {
							color: #2D3830;
						}

						&.role {
							color: #ABB2B0;
						}
					}
				}

				.verticalList {
					display: flex;
					flex-direction: column;
					width: 100%;

					&>* {
						font-size: 14px;
						float: left;
						text-align: left;
						color: #2D3830;
						padding-left: 10px;

						li {
							margin: 5%;
						}
					}
				}
			}
		}


	}
}